/*div {*/
    /*background-color: #ff0000;*/
    /*color: red;*/
    /*text-decoration: none;*/
/*}*/



.logo {
    height: 50px;
    width: 1200px;
    background-image: url('images/logoPhoto.jpg');
    background-repeat: no-repeat;
    font-size: 170%;
    font-family: Aharoni;
    padding-top: 14px;
    padding-left:80px;

.clear {
    clear: both;
}

}
.styles{
    font-family: Candara;
    color: darkgrey;
    font-size: 70%;
    padding-left: 400px;
}
.styles1 {
    font-family: Candara;
    color: black;
    font-size: 70%;
    padding-left: 20px;
}

.posts-list .post {
    float:left;
    margin-top: 50px;
    margin-right: 40px;
}
.styles3 {
    color: white;
    margin-left: 100px;
}
.post-autor {
    float: left;
    margin-bottom: 10px;
}
.lastTime{
    font-family: "Times New Roman";
    font-size: 85%;
    color: dimgrey;
}
.nikName {
    font-family: Calibri;
    margin-left: 60px;
}
.hashtag_wrapper a {
    margin: 4px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    text-decoration: none;
}